* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}

#nav{
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    width: 100%;
    
}

.navButton{
    text-align: center;
    border: 2px solid white;
    padding: 10px;
    text-decoration: none;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.navButton:hover{
    background-color: darkgray;
    opacity: 50%;
}

.header{   
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
    background-image: url(Images/HomeBG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(155,155,200,.9); /* Tint color */
    background-blend-mode: multiply;
    
    
}

.name{
    display: inline-block;
    margin-top: 200px;
    padding: 50px;
    font-size: 50px;
    
}

/*Footer*/
footer{
    background-color: #737373;
    color: white;
}

footer img{
    width: 5%;
}

.location{
    width: 50%;
    height: 10vh;
}

.hours{
    width: 49%;
    height: 10vh;
}

.location, .hours{
    display: inline-block;
}