<!DOCTYPE html>
<html>

   <head>
       <meta charset="UTF-8" />
       <title>Menu</title>
<!--      <script src="tbd.js"></script>-->
       <link href="CSS/menu.CSS" rel=stylesheet type="text/css"/>
   </head>
   <body>
       <div class="navBar"><a href="../index.html">Home</a></div>
       <div class="menuItems">
           <img alt="Appatizers" src="../Menu/App.JPG">
            <img alt="Brunch" src="../Menu/Brunch.JPG">
            <img alt="Lunch" src="../Menu/Lunch.JPG">
            <img alt="Dinner" src="../Menu/Dinner.JPG">
       </div>
       
   </body>
</html>