<!DOCTYPE html>
<html>
  <head>
    <title>Reservations</title>
    <link rel="stylesheet" type="text/css" href="CSS/newproject.css"> 

<body>
    <div id='nav'>
        <a class="navButton" href="../index.html">HOME</a>   
        <a class="navButton" href="Views/menu.html">MENU</a>
        <a style="background-color: lightgray; color: black;" class="navButton" href="Views/NEWPROJ.html">RESERVATIONS</a>   
        <a class="navButton" href="">ABOUT US</a>
        <a class="navButton" href="">LOCATIONS</a>   
    </div>
    <div class="Loki">
      <form action="/">
        <div class="start"><legend>MAKE A RESERVATION</legend></div>
        <div class="item">
          <p>First Name</p>
          <div class="name-item">
            <input type="text" name="name" required />
             <p>Last Name</p>
          <input type="text" name="name" />
          </div>
        </div>
        <div class="item">
          <p>Email</p>
          <input type="email" name="email"required placeholder="email@address.com"/>
        </div>
        <div class="item">
          <p>Phone</p>
          <input type="text" name="phone" placeholder="### ### ####" required/>
        </div>
        <div class="item">
          <p>Reservation Date</p>
          <input type="date" name="bdate" required />
          <i class="fas fa-calendar-alt"></i>
        </div>
   <div class="item">
          <p>Reservation Time</p>
          <input type="time" name="btime" required min="11:30" value="17:00" max="22:00" />
               </div>
        <div class="item">
          <p>No. of guests?</p>
          <input type="number" name="language" max="15" />
        </div>
         <div class="item">
          <p>Special Request</p>
          <textarea rows="3"></textarea>
        </div>
         <div class="btn-block">
          <button type="submit" href="/">Submit</button>
        </div>
      </form>
    </div>
</body>
  
