     
/*IT PROJECT MANAGEMENT 
    Author:  Nenad, Isaiah, Tyler*/

      html, body {
      min-height: 100%;
      }
      body, div, form, input, textarea, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Proxima-nova, Calibri, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
      color: #333333;
      position: absolute;
      margin: 0;
      line-height: 42px;
      font-size: 42px;
      color: #fff;
      z-index: 2;
      }
      .Loki {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      margin-left: 250px;
      width: 46%;

      }
      form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 25px 0 #d6e0f5; 
      }
      .start{
      font-size: 1.5em;  
      margin-left: 110px;
      height: 50px;
      text-align: center;
      color: #333333;
      }
      input, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      input[type="date"],input[type="time"]  {
      padding: 4px 5px;
      width: 100px;
      }
      input[type="number"]{
      padding: 4px 5px;
     width:50px;
      }
      textarea {
      width: calc(100% - 12px);
      padding: 5px;
      }
      .item input:hover,.item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #d6e0f5;
      color:black;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      input[type="date"]::-webkit-inner-spin-button {
      display: none;
      }
      .item i, input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color: #a9a9a9;
      }
      .item i {
      right: 2%;
      top: 28px;
      z-index: 1;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
      right: 1%;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #0087cc;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: #6eb8dd;
      }
      
/*nav*/

#nav{
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    width: 100%;
}

.navButton{
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    color: black;
}

.navButton:hover{
    background-color: darkgray;
    opacity: 50%;
}